header {
  height: 400px;
  width: 100%;
  /* background-color: sandybrown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9CE80;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

}