@media screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  main form {
    margin-bottom: 1.2rem;
    margin-top: 0;
  }
  body > header {
    margin-top: 200px;
    margin-left: 1.5em;
    flex-basis: 30%;
  }
  body > .container {
    margin-top: 200px;
    margin-right: 1.5em;
    flex-basis: 55%;
  }
  .tweeter-box:first-child {
    margin-top: 0px;
  }
}
